@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-image: radial-gradient(
			at 60% 60%,
			transparent 60%,
			#8fa0ed,
			transparent 60%,
			#d9dbf2,
			transparent 60%,
			#bab5eb
		),
		radial-gradient(at 30% 30%, #acbaf7, #dadbf3, #aba4e5);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
